@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Koulen;
    font-weight: 300;
    color: white;
    background-color: orange;
}

h1 { 
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color:black;
}

p { 
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
    color:black;
}

hr { 
    border-top: 3px dotted aquamarine; 
    width: 100%;
    margin: 3 rem 0 3rem 0;
}

header { 
    background-image: ;
    background-color: black;
    padding: 2rem;
    border-bottom: 10px solid aquamarine;
    height: 150px;
}

.logoholder { 

margin-left: 2rem;
float: left;
}

.logo { 
width: 70px;
height: 70px;
float: left;
}

.logo img { 
    width: 150%;
}

#menu-holder { 
    float: right;
    margin-right: 2rem;
    line-height: 60px;
}

nav li { 
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

nav li:hover { 
    background-color: black;
    border-bottom: 5px solid orange;
}

nav a { 
    text-decoration: none;
    color: white;
}

.active { 
    border-bottom: 5px solid orange;
}

/* Hero image section */

#hero-outer { 
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image { 
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}


/* Call To Action panels section */

#call-to-action-panels-holder { 
    margin: 0 4rem 8rem 4 rem;
    overflow:hidden
}

#call-to-action-panels-holder>div { 
    width: 31%;
    margin: 1%;
    float: left;
    box-shadow: 0 4px 8px 0 black;
}

.top-image img {
    width: 100%;
    /* height: fit-content;*/
}

.link-panel a { 
    background-color: black;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100%;
}

.link-panel {
    background-color: blue
}

/* About page styles */ 
#about,
#menu,
#contact { 
    margin: 4rem
}

#page-banner-image {
    margin: 0 4rem 0 4rem;
    /* height: 200px; */
    border-bottom: 2px solid black;
}

#page-banner-image>img {
    width: 100%;
}











