@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Koulen;
    font-weight: 300;
    color: white;
    background-color: orange;
}

h1 { 
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color:aquamarine;
}

p { 
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
    color:black;
}

hr { 
    border-top: 3px dotted aquamarine; 
    width: 100%;
    margin: 3 rem 0 3rem 0;
}

header { 
    background-image: ;
    background-color: black;
    padding: 2rem;
    border-bottom: 10px solid aquamarine;
    height: 150px;
}

.logoholder { 

margin-left: 2rem;
float: left;
}

.logo { 
width: 70px;
height: 70px;
float: left;
}

.logo img { 
    width: 150%;
}

#menu-holder { 
    float: right;
    margin-right: 2rem;
    line-height: 60px;
}

nav li { 
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

nav li:hover { 
    background-color: black;
    border-bottom: 5px solid orange;
}

nav a { 
    text-decoration: none;
    color: white;
}

.active { 
    border-bottom: 5px solid orange;
}

/* Hero image section */

#hero-outer { 
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image { 
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}







