@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior:smooth
}

body {
    font-family: Koulen;
    font-size: 1rem ;
    font-weight: 400;
    text-align: center;
    color: black;
    background-color: orange;
}

h1 { 
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color:black;
}

h2 { 
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
    color:white;
}

p { 
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
    color:black;
}

hr { 
    border-top: 3px dotted white; 
    width: 100%;
    margin: 3 rem 0 3rem 0;
}

/* Header Section */

header { 
    background-color: black;
    padding: 2rem;
    border-bottom: 5px solid white;
    height: 140px;
}

.logo { 
width: 100px;
height: 120px;
float: left;
}

.logo img { 
    width: 150%;
}

#menu-holder { 
    float:right;
    margin-right: 2rem;
    line-height: 100px;
}

nav li { 
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

nav li:hover { 
    background-color: orange;
    border-bottom: 7px solid orange;
}

nav a { 
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.active { 
    border-bottom: 7px solid #ffa500;
}

/* Hero image section */

#hero-outer { 
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image { 
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */
@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to { 
        transform: scale(1.1);
    }
}


#intro-text { 
    margin: 4rem;
}

#intro-text p { 
    line-height: 1.8rem ;
    text-align: center;
}

#intro-text a { 
    color:white;
}

#intro-text a:hover { 
    color: black;
}

/* Call To Action panels section */

#video {
    display: block;
    margin: auto;
}

/* Call To Action panels section */

#call-to-action-panels-holder { 
    margin: 0 4rem 8rem 4rem;
    overflow: hidden;
}

#call-to-action-panels-holder>div { 
    width: 30%;
    margin: 1%;
    float: left;
    box-shadow: 0 2px 2px 0;
}

.top-image img {
    width: 100%;
    /* height: fit-content;*/
}

.link-panel a { 
    background-color: black;
    text-transform: uppercase;
    border: solid 1px;
    color: orange;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 90%;
}

.link-panel a:hover {
    background-color: white;
}

/* best tacos */

#best-tacos{
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float:left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float:right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid black ;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}
.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align:right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../images/300pixellogo.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;


}

/* About us page styles */ 
#about-us,
#menu,
#contact { 
    margin: 4rem
}

.about-us-row {
    overflow: hidden;
}

#page-banner-image {
    margin: 0 4rem 0 4rem;
    /* height: 200px; */
    border-bottom: 2px solid black;
}

#page-banner-image>img {
    width: 100%;
}


/* Contact section */
#contact-details {
    padding-bottom: 4rem;
    line-height: 2rem;
    text-align: center;
}

#contact-form {
    width: 50%;
    margin: 0 auto;
}

input[type=text], 
input[type=email],
select,
textarea {
    width: 100%;
    padding: 1rem;
    border: 2 px solid white;
    margin-bottom: 1rem;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 1rem 1.4rem;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:white;
    color: black;
}


/* Footer section */
footer {
    height: 150px;
}

.socials { 
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i { 
    font-size: 300%;
    padding: 1%;
    color: white;
}

/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width:800px) {
    header {
       height: 150px;
       padding: 1rem;
}

#hero-holder
#hero-image { 
    height: 300px;
}

#menu-holder {
    margin-right: 2rem;
    margin-top: 10px;
    clear: right;
    float: right;
    line-height: 30px;
}

#hero-holder { 
    margin: 0 1rem 0 1rem;

}

#best-tacos {
    width: 65%;
    height: 1200px;
    margin: 0 auto;


}

#welcome { 
    padding: 30px 0;
    margin: 0;
    text-align: center;
}

#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
}

#center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#call-to-action-panels-holder {
    margin: 0 4rem 3rem 4rem;
}

}



/* For smartphone screen sizes 600px and below */
@media screen (max-width:600px) {

    #menu-holder { 
        float:left;
        margin-right: 0.1rem;
        line-height: 100px;
    }
    
    nav li { 
        list-style-type: none;
        margin: 0 1px 0 1px;
        padding: 0 1px 0 1px;
    }
    
    nav li:hover { 
        background-color: orange;
        border-bottom: 7px solid orange;
    }
    
    nav a { 
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    
    .active { 
        border-bottom: 7px solid #ffa500;
    }

    /* Hero image section */

#hero-outer { 
    height: 200px;
    width: 80%;
    overflow: hidden;
    position: relative;
}

#hero-image { 
    height: 100px;
    width: 50%;
    background: url('../images/hero-image.jpg') no-repeat center center;

}





}

 

/* For ultra small screen sizes 400px and below */
@media screen and (max-width: 400px) {
    
    nav li {
        margin: 0 2px 0 2px;
        padding: 0 2px 0 2px;
        font-size: 0.75rem;
    }


    #menu-holder {
        line-height: 20px;
    }


}





